extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

    //- error number and text displayed
    h1= `An Error Occured: ${err.status}`
    h2= `An error has occurred, please return to previous page`