extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back
    //- Displays the error message for when a 404 error is triggered
    h1= `Page Not Found`
    h2= `Please contact the site administror at help@fakeemail.com.`